@import url("https://use.typekit.net/pwb6sws.css");

html {
  font-size: 16px;
}
body {
  margin: 0;
  color: #b1c3d6;
  font-family: "interstate", sans-serif;
  font-weight: 300;
  background-color: #0c2340;
}
